{% extends "with_sidebar.html" %}

{% set page_title = 'Assets' %}

{% block page_content %}
    <h2 class="darkText boldText">
        Asset Pool
        <a href="/assets/new">
            <span class="rightSpan darkText boldText ">
                Add
                <i class="fas fa-plus"></i>
            </span>
        </a>
    </h2>
    <div class="whiteContainer">
        <div class="inputSection">
            <div class="labelDiv boldText">Filter Tags:</div>
            <input id="tagTextInput" list="suggestions" placeholder="Provide tag and press enter." class="bubbleButton growText">
            <datalist id="suggestions"></datalist>
        </div>
        <div id="filterTagsContainter" class="tagsContainer"></div>
    </div>
    <div class="darkText text20 flexCont">
        <div id="sortingDiv">
            <div class="boldText">Sort by:</div>
            <div id="sortBtnContainer">
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnRecent">
                    Most Recent
                </div>
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnOld">
                    Oldest First
                </div>
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnRelevant">
                    Most Relevant
                </div>
            </div>
        </div>
        <div class="rightSpan">
            <span class="bubbleButton boldText bubbleButtonRedHover" id="selectAssetsDelete">
                Delete
            </span>
            <span class="bubbleButton boldText bubbleButtonTransp" id="selectAssetsToggle">
                Select
            </span>
        </div>

    </div>
    <div class="assetpool-list whiteContainer" id="assetPool">
        {% for asset in assets %}

            <a href="/assets/{{asset.id}}">
                <div class="assetpool-asset" id="{{asset.id}}">
                    <div>
                        {% if asset.thumbnailLocation != None %}
                        <img class="assetThumbnail" src="{{asset.thumbnailLocation}}">
                        {% else %}
                            <!-- Placeholder until we get a default asset thumbnail -->
                            <div class="assetThumbnail darkText">
                                <br>
                                Placeholder
                            </div>
                        {% endif %}
                        <div class="blackText boldText labelText">{{ asset.assetname }}</div>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>
    <div class="centerFlex">
        <div class="bubbleButton bubbleButtonDark rowsButton" id="loadMore">
            Load more
        </div>
    </div>



    <div id="helpModal" class="modalHelp">
      <div class="modal-contentHelp">
        <span class="closeHelp">&times;</span>
        <h1>Help</h1>
        <p>
          To add a new asset go to the 'Asset Pool' page and click the 'Add' button that is situated in the right
          top corner.
        </p>
        <p>
          Added assets can be deleted, or edited. To access this feature, go to 'Asset Pool' where all saved assets will be displayed. The assets can be sorted by when they were added ('Most Recent' or 'Oldest First'), or by relevance. To sort by relevance tags need to be provided in the 'Filter Tags:' input box. When more than one tag is provided, only assets that are linked to all tags will be displayed.
        </p>
        <p>
          To delete an assets you can click on any asset, which will display asset details, and then click on 'Delete Asset'. Alternatively, click on 'Select' button, that is situated above the box that displays all assets, and then select an asset to delete. A 'Delete' button will appear next to the 'Select' button. Clicking on the 'Delete' button will delete the selected asset. By using the 'Select' button you can highlight multiple assets and delete all of them at the same time.
        </p>

      </div>
    </div>

{% endblock page_content %}

{% block end_body %}
    <script>
        document.getElementById('assetPoolOption').classList.add('selected');
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/asset_pool.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/helpModal.js')}}"></script>
{% endblock end_body %}
