{% extends "with_sidebar.html" %}

{% set page_title = 'Asset' %}

{% block page_content %}

{% for tag in asset.tags %}
<span class="hidden-tags-data" data="{{tag.tagname}}"></span>
{% endfor %}
<span id="hidden-id-data" data="{{asset.id}}"></span>


<h2 class="darkText">
    <a href="/assets">
        <i class="fas fa-arrow-left darkText"></i>
    </a>
    {{ asset.assetname }}
</h2>

<div id="assetData"
    data-id="{{asset.id}}"
    data-assettype ="{{asset.assettype}}"
    data-assetname="{{asset.assetname}}"
    data-assetLocation="{{asset.assetLocation}}"
    data-assetLink="{{asset.assetLink}}"
    data-thumbnailLocation="{{asset.thumbnailLocation}}"
    data-dateCreated="{{asset.dateCreated}}"
    data-user_id="{{asset.user_id}}"
></div>


<div class="whiteContainer">
    <form id="formUpdate" class="flexContVertical" method="POST" action="/assets/{{asset.id}}/update" enctype="multipart/form-data">
    <span class="rightSpan darkText">
        <i class="fas fa-info-circle"></i>
        Click field to edit
    </span>
    <div class="assetPageTop">

        <div class="assetPageLeft">
                {{form.assetThumbnail(class="fileInputHidden", id="thumbUploadHidden")}}
                {{form.assetAutomaticThumbnail(id="thumbHidden")}}
                <div id="thumbnailSpace" class="thumbnailSpace">
                    {% if asset.thumbnailLocation != None %}
                        <img class="assetThumbnail" src="{{asset.thumbnailLocation}}" id="thumbnailImg"">
                    {% endif %}
                </div>
                <div class="midScreen">
                  <div class="bubbleButton bubbleButtonDark rowsButton" id="prevButton">Previous</div>
                  <div class="bubbleButton bubbleButtonDark rowsButton" id="nextButton">Next</div>
                </div>
                <div id="thumbnailNameCheckbox" class="midScreen">
                    <input type="checkbox" id="thumbnailNameCheckbox">
                    <span class="text18">Use name as thumbnail</span>
                </div>
        </div>
        <div class="assetPageRight">
            {{form.assetname(class="assetTitle darkText boldText", id="assetNameInput", data=asset.assetname, value=asset.assetname )}}
            {{ form.hidden_tag() }}
            {% if asset.assettype == 'file' %}
              {% set locationList = asset.assetLocation.split('/') %}
              <div class="assetLabel darkText boldText">{{locationList[locationList|length-1]}}</div>
            {% else %}
              <div class="assetLabel darkText boldText">{{asset.assetLink}}</div>
            {% endif %}
            <div class="assetLabel darkText boldText">{{ asset.dateCreated.strftime('%d-%m-%Y') }} </div>
        </div>
    </div>

    <input id="tagTextInput" list="suggestions" placeholder="Provide tag and press enter." class="bubbleButton growText spaced10top">
    <div id="assetTagsContainter" class="tagsContainer"></div>
    <datalist id="suggestions"></datalist>

        {{form.tagArrayString(id="inputTagArray")}}
    </form>
</div>
<div id="asset-save" class="bubbleButton bubbleButtonDark bubbleButtonGreenHover rowsButton">Save Changes</div>
<div id="asset-delete" class="bubbleButton darkText rowsButton bubbleButtonRedHover rightSpan">Delete Asset</div>


<div class="whiteContainer flexContVertical spaced20top">
    <div class="assetTitle darkText boldText ">Asset Preview</div>
    <div class="presenter-view asset-preview">
        <img id="img_display" src="">
        <embed id ="embed_display" type="application/pdf" width="100%" height="100%" src=""/>
        <object id="object_display" data=""></object>
        <a id="link_display"></a>
    </div>
</div>


<div class="flashes">
    {% include 'includes/_messages.html' %}
</div>
{% endblock page_content %}

{% block end_body %}
<script>
    document.getElementById('assetPoolOption').classList.add('selected');
</script>
<script type="text/javascript" src="{{url_for('static', filename='JS/thumbnail_generation.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='JS/asset_page.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='JS/tagRecTest.js')}}"></script>
{% endblock end_body %}
