{% extends "with_sidebar.html" %}

{% set page_title = 'Asset' %}

{% block page_content %}
    <h2 class="darkText flexStart">
        <a href="/assets">
            <i class="fas fa-arrow-left darkText"></i>
        </a>
        <span class="flexGrow center">
          <span>Add Assets</span>
        </span>
    </h2>
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="verticalFormsContainer" id="assetFormsContainer">
        <form method='POST' action="" enctype="multipart/form-data" class="whiteContainer" id="form1">
            <div class="inputSection">
                <div class="labelDiv">Asset Name:</div>
                {{render_field(form.assetname, autocomplete="assetname", placeholder="Example Name", class="bubbleButton growText text18", minlength="2", maxlength="30", required="true", id="assetName1")}}
            </div>
            <br />
            <div class="inputSection">
                <div class="labelDiv">Asset Tags:</div>
                {{render_field(form.tagname, autocomplete="tags", placeholder="tag1, tag2, tag3...", class="bubbleButton growText text18", minlength="2", maxlength="100", required="true")}}

            </div>
            {{render_field(form.assettype)}}
            <div id="fileUploadFields1">
                <div class="fileInputDiv">
                    {{form.assetResource(class="fileInputHidden", id="fileUploadHidden1", required="true")}}
                    <div id="fileUploadVisible1">
                        <div class="fileInputVisible bubbleButton bubbleButtonDark">
                            Upload File
                        </div>
                        <div class="fileNameLabelVisible">
                            No file chosen
                        </div>
                    </div>
                </div>
            </div>

            <div id="linkUploadFields1" class="inputSection">
                {{render_field(form.assetLink, id="assetLink1", placeholder="www.example.com/url", class="bubbleButton growText growText100", minlength="2", maxlength="50")}}
            </div>

            <!-- hidden input for uploading own thumbnail img  -->
            {{form.assetThumbnail(id="thumbUploadHidden1")}}

            <!-- hidden input for sending thumbnail's base64 to server -->
            <input type="submit" class="hiddenSubmit">
            {{form.assetAutomaticThumbnail(id="thumbHidden1")}}

            {{ form.hidden_tag() }}
            <!-- buttons for selecting page of pdf -->

            <div id="thumbnailSpace1" class="thumbnailSpace">
              <!-- container for thumbnail -->
            </div>
            <div class="midScreen">
              <div class="bubbleButton bubbleButtonDark rowsButton" id="prevButton1">Previous</div>
              <div class="bubbleButton bubbleButtonDark rowsButton" id="nextButton1">Next</div>
            </div>
            <div id="thumbnailNameCheckbox1" class="midScreen">
                <input type="checkbox" id="thumbnailNameCheckbox1">
                <span class="text18">Use name as thumbnail</span>
            </div>

            <div class="darkText miniBubbleButton bubbleButtonTransp bubbleButtonRedHover" id="removeButton1">
              <i class="fas fa-times"></i>
              Remove
            </div>
        </form>
    </div>

    <div class="formFooter">
        <div class="bubbleButton bubbleButtonDark rowsButton" id="addAssetBtn">
            <i class="fas fa-plus"></i>
            Add Asset
        </div>
        <button type="submit" id="submitButton" class="bubbleButton bubbleButtonDark rowsButton">Submit</button>
    </div>


    <br />
    <div class="flashes">
        {% include 'includes/_messages.html' %}
    </div>


    <!--
    <div class="helpIcon" id="modalHelpIcon">
      <i class="fa fa-question-circle"></i>
    </div> -->

    <div id="helpModal" class="modalHelp">
      <div class="modal-contentHelp">
        <span class="closeHelp">&times;</span>
        <h1>Help</h1>

        <p>
          The form on this page lets you add new assets. To do this, enter the asset name, tags associated with it and choose if you want the asset to be a file (pdf, jpeg, png) or a link. As a default, it is set to file. Then choose a file, or enter http(s) address of the link. Once the file has been selected, or link entered, a default thumbnail will be displayed. If you want the name of the asset to be used as a thumbnail tick the 'Use name as thumbnail' checkbox. Alternatively, you can click on the displayed image and select a different file that will be used as a thumbnail.
        </p>
        <p>
          If you would like to add multiple assets at once, you can click on the '+ Add Asset' button which will display an additional form for the next asset. Once you have completed all fields for all assets, you can save them by clicking on the 'Submit' button.
        </p>
        <p>
          If you have clicked the '+ Add Asset' button by accident, or you no longer want to add a particular asset, you can remove it from the list by clicking on the 'Remove' button that appears when you hover over the form.
        </p>
        <p>
          To make sure that the selected tags will be recognised by speech recognition, you can test them by clicking on the
          'Test Recognition' button in the bottom right corner of the screen. Then say a sentence containing your tag and
          see if the output contains the tag that you want to use.
        </p>

      </div>
    </div>





{% endblock page_content %}

{% block end_body %}
    <script>
        document.getElementById('assetPoolOption').classList.add('selected');
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/thumbnail_generation.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/new_asset_form.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/tagRecTest.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/helpModal.js')}}"></script>

{% endblock end_body %}
