{% extends "with_sidebar.html" %}

{% set page_title = 'Asset' %}

{% block page_content %}
    <h2 class="darkText">Asset Add</h2>
    <div class="assetpool-list">
        <div class="assetpool-add">
            <div class="inputs">
                {% from "includes/_formhelpers.html" import render_field %}
                <form method='POST' action="" enctype="multipart/form-data">
                    <div class="section">
                        <p>Asset Name:</p>
                        {{render_field(form.assetname, autocomplete="assetname")}}
                    </div>
                    <br />
                    <div class="section">
                        <p>Asset Tags:</p>
                        {{render_field(form.tagname, autocomplete="tags", placeholder="tag1, tag2, tag3...")}}
                    </div>
                    <br />
                    <div class="section">
                        <p>File Upload:</p>
                        {{form.assetResource(class="form-control-file")}}
                    </div>
                    <br />
                    <div class="section">
                        <p>Thumbnail Upload:</p>
                        {{form.assetThumbnail(class="form-control-file")}}
                    </div>
                    <br />
                    <div class="footer">
                        <button type="submit">Submit</button>
                    </div>
                    {{ form.hidden_tag() }}
                </form>
                <br />
                <div class="flashes">
                    {% include 'includes/_messages.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block end_body %}
    <script>
        document.getElementById('assetPoolOption').classList.add('selected');
    </script>
{% endblock end_body %}