{% extends "with_sidebar.html" %}

{% set page_title = 'Assets' %}

{% block page_content %}
    <h2 class="darkText">Asset Pool</h2>
    <div class="whiteContainer">
        <div class="inputSection">
            <div class="labelDiv boldText">Filter Tags:</div>
            <input id="tagTextInput" list="suggestions" placeholder="Provide tag and press enter." class="bubbleButton growText">
            <datalist id="suggestions"></datalist>
        </div>
        <div id="filterTagsContainter">
            <!-- <div class="filterTagButton">
                <span>Wind Turbine</span>
                <span class="removeToggle">
                    <i class="fas fa-times"></i>
                </span>
            </div> -->
        </div>
    </div>
    <h3 class="darkText boldText">Sort by: Most Recent</h3>
    <div class="assetpool-list whiteContainer" id="assetPool">
        {% for asset in assets %}

            <a href="/assets/{{asset.id}}">
                <div class="assetpool-asset">
                        {% if asset.thumbnailLocation != None %}
                        <img class="assetThumbnail" src="{{asset.thumbnailLocation}}">
                        {% else %}
                            <!-- Placeholder until we get a default asset thumbnail -->
                            <div class="assetThumbnail darkText">
                                <br>
                                Placeholder
                            </div>
                        {% endif %}
                        <p class="blackText boldText labelText">{{ asset.assetname }}</p>
                </div>
            </a>

        {% endfor %}
    </div>
    <div class="centerFlex">
        <div class="bubbleButton bubbleButtonDark rowsButton" id="loadMore">
            Load more
        </div>
    </div>

{% endblock page_content %}

{% block end_body %}
    <script>
        document.getElementById('assetPoolOption').classList.add('selected');
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/asset_pool.js')}}"></script>
{% endblock end_body %}
