{% extends "with_sidebar.html" %}

{% set page_title = 'Asset' %}

{% block page_content %}

{% for tag in asset.tags %}
<span class="hidden-tags-data" data="{{tag.tagname}}"></span>
{% endfor %}
<span id="hidden-id-data" data="{{asset.id}}"></span>


<h2 class="darkText">
    <a href="/assets">
        <i class="fas fa-arrow-left darkText"></i>
    </a>
    {{ asset.assetname }}
</h2>

<div class="whiteContainer flexContVertical">
    <div class="assetPageTop">
        <div class="assetPageLeft">

                {% if asset.thumbnailLocation != None %}
                    <img class="assetThumbnail" src="{{asset.thumbnailLocation}}">
                {% else %}
                    <!-- Placeholder until we get a default asset thumbnail -->
                    <div class="thumbnail-placeholder">Placeholder</div>
                {% endif %}
        </div>
        <div class="assetPageRight">
            <div class="assetTitle darkText boldText ">{{ asset.assetname }}</div>
            <div class="assetLabel darkText boldText">{{ asset.dateCreated }} </div>
        </div>
    </div>

    <input id="tagTextInput" list="suggestions" placeholder="Provide tag and press enter." class="bubbleButton growText spaced10top">
    <div id="assetTagsContainter" class="tagsContainer"></div>
    <datalist id="suggestions"></datalist>

    <form id="formUpdate" method="POST" action="/assets/{{asset.id}}/update" enctype="multipart/form-data">
        {{form.tagArrayString(id="inputTagArray")}}
    </form>
</div>
<div id="asset-save" class="bubbleButton bubbleButtonDark bubbleButtonGreenHover rowsButton">Save Changes</div>
<div id="asset-delete" class="bubbleButton darkText rowsButton bubbleButtonRedHover rightSpan">Delete Asset</div>


<div class="whiteContainer flexContVertical spaced20top">
    <div class="assetTitle darkText boldText ">Asset Preview</div>
</div>


<div class="flashes">
    {% include 'includes/_messages.html' %}
</div>
{% endblock page_content %}

{% block end_body %}
<script>
    document.getElementById('assetPoolOption').classList.add('selected');
</script>
<script type="text/javascript" src="{{url_for('static', filename='JS/asset_page.js')}}"></script>
{% endblock end_body %}
