{% extends "with_sidebar.html" %}

{% set page_title = 'Asset' %}

{% block page_content %}
    <h2 class="darkText">
        <a href="/assets">
            <i class="fas fa-arrow-left darkText"></i>
        </a>
        Add Assets
    </h2>
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="assetFormsContainer" id="assetFormsContainer">
        <form method='POST' action="" enctype="multipart/form-data" class="whiteContainer" id="form1">
            <div class="inputSection">
                <div class="labelDiv">Asset Name:</div>
                {{render_field(form.assetname, autocomplete="assetname", placeholder="Example Name", class="bubbleButton growText", minlength="2", maxlength="50", required="true", id="assetName1")}}
            </div>
            <br />
            <div class="inputSection">
                <div class="labelDiv">Asset Tags:</div>
                {{render_field(form.tagname, autocomplete="tags", placeholder="tag1, tag2, tag3...", class="bubbleButton growText", minlength="2", maxlength="100", required="true")}}

            </div>
            {{render_field(form.assettype)}}
            <div id="fileUploadFields1">
                <div class="fileInputDiv">
                    {{form.assetResource(class="fileInputHidden", id="fileUploadHidden1", required="true")}}
                    <div id="fileUploadVisible1">
                        <div class="fileInputVisible bubbleButton bubbleButtonDark">
                            Upload File
                        </div>
                        <div class="fileNameLabelVisible">
                            No file chosen
                        </div>
                    </div>
                </div>
            </div>

            <div id="linkUploadFields1" class="inputSection">
                {{render_field(form.assetLink, placeholder="www.example.com/url", class="bubbleButton growText", minlength="2", maxlength="50")}}
            </div>
            
            <!-- hidden input for uploading own thumbnail img  -->
            {{form.assetThumbnail(id="thumbUploadHidden1")}}

            <!-- hidden input for sending thumbnail's base64 to server -->
            <input type="submit" class="hiddenSubmit">
            {{form.assetAutomaticThumbnail(id="thumbHidden1")}}

            {{ form.hidden_tag() }}
            <!-- buttons for selecting page of pdf -->

            <div id="thumbnailSpace1" class="thumbnailSpace">
              <!-- container for thumbnail -->
            </div>
            <div class="midScreen">
              <div class="bubbleButton bubbleButtonDark rowsButton" id="prevButton1">Previous</div>
              <div class="bubbleButton bubbleButtonDark rowsButton" id="nextButton1">Next</div>
            </div>
            <div id="thumbnailNameCheckbox1" class="midScreen">
                <input type="checkbox" id="thumbnailNameCheckbox1">
                <span class="text18">Use name as thumbnail</span>
            </div>
        </form>


    </div>

    <div class="formFooter">
        <div class="bubbleButton bubbleButtonDark rowsButton" id="addAssetBtn">
            <i class="fas fa-plus"></i>
            Add asset
        </div>
        <button type="submit" id="submitButton" class="bubbleButton bubbleButtonDark rowsButton">Submit</button>
    </div>


    <br />
    <div class="flashes">
        {% include 'includes/_messages.html' %}
    </div>




{% endblock page_content %}


{% block end_body %}
    <script>
        document.getElementById('assetPoolOption').classList.add('selected');
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/new_asset_form.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/tagRecTest.js')}}"></script>

{% endblock end_body %}
