{% extends "base.html" %}
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
{% set active_page = 'controller' %}
{% block content %}
<div class="container">
    <h1>Controller</h1>

    <h3>Current </h3>
    <div class="imageRow" id="currentRow"></div>
    <h3>Frequent</h3>
    <div class="imageRow" id="frequentRow"></div>

    <script type="text/javascript">
        var currentResults = document.getElementById("currentRow");
        var frequentResults = document.getElementById("frequentRow");
        var storageBool = storageAvailable('localStorage');

        annyang.start({
            autoRestart: true
        });
        var socket;
        $(document).ready(function () {
            socket = io();
        });

        //only works if local storage is a available in the browser
        if (storageBool) {
            console.log("localStorage available");
            if (annyang) {
                annyang.addCallback('result', function (phrases) {
                    var phrase = phrases[0];
                    console.log("Speech Recognised: ", phrase);
                    var mentionedTags = localStorage.getItem('mentionedTags');
                    if (mentionedTags) {
                        $.ajax({
                            type: "POST",
                            url: "/compare_phrases",
                            data: {
                                'phrase': phrase,
                                'mentionedTags': mentionedTags
                            },
                            timeout: 60000,
                            success: function (data) {
                                var retrieved = JSON.parse(data);
                                console.log(retrieved);
                                updateResults(retrieved['assetResults']);
                                localStorage.setItem('mentionedTags', JSON.stringify(retrieved[
                                    'mentionedTags']));
                            }
                        });
                    } else {
                        $.ajax({
                            type: "POST",
                            url: "/compare_phrases",
                            data: {
                                'phrase': phrase
                            },
                            timeout: 60000,
                            success: function (data) {
                                var retrieved = JSON.parse(data);
                                console.log(retrieved);
                                updateResults(retrieved['assetResults']);
                                localStorage.setItem('mentionedTags', JSON.stringify(retrieved[
                                    'mentionedTags']));
                            }
                        });
                    }
                });
            }
        }

        function updateResults(assets) {
            frequentResults.innerHTML = "";
            for (asset in assets['frequent']) {
                var image = document.createElement("IMG");
                image.src = "/static/resources/images/" + assets['frequent'][asset]['thumbnail'];
                image.setAttribute("data-id", assets['frequent'][asset]['id']);
                image.classList.add("assetThumbnail");
                image.classList.add("animated");
                image.classList.add("faster");
                frequentResults.appendChild(image);
            }

            currentResults.innerHTML = "";
            for (asset in assets['current']) {
                var image = document.createElement("IMG");
                image.src = "/static/resources/images/" + assets['current'][asset]['thumbnail'];
                image.setAttribute("data-id", assets['current'][asset]['id']);
                image.classList.add("assetThumbnail");
                image.classList.add("animated");
                image.classList.add("faster");
                currentResults.appendChild(image);
            }
            applyGestureControls();
        }

        function storageAvailable(type) {
            try {
                var storage = window[type];
                var x = '_storage_test__';
                storage.setItem(x, x);
                storage.removeItem(x);
                return true;
            } catch (e) {
                return e instanceof DOMException && (
                        e.code === 22 ||
                        e.code === 1014 ||
                        e.name === 'QuotaExceededError' ||
                        e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
                    storage.length !== 0;
            }
        }

        function flushRecentTags(){
          storedTags = JSON.parse(localStorage.getItem('mentionedTags'));
          console.log(storedTags);
          storedTags['recent'] = {};
          localStorage.setItem('mentionedTags', JSON.stringify(storedTags));
        }

    </script>
    <script>
        function applyGestureControls() {
            $('.assetThumbnail').each(function () {
                var gestures = new Hammer(this);
                // enable swipe detection for all directions
                gestures.get('swipe').set({
                    direction: Hammer.DIRECTION_ALL,
                    threshold: 1,
                    velocity: 0.1
                });
                var element = $(this);
                // listen to events...
                gestures.on("swipeup tap", function (ev) {
                    // Swipe up gesture
                    if (ev.type == "swipeup") {
                        element.removeClass("fadeIn");
                        element.addClass("slideOutUp");

                        var assetID = element.attr('data-id');
                        socket.emit('event', assetID);
                        flushRecentTags();

                        console.log("sent ID " + assetID + " to socketIO");
                        // Add the asset back to the display
                        setTimeout(function () {
                            // Reset element state (css class transitions)
                            element.removeClass("element-increase");
                            element.removeClass("element-reset");
                            element.removeClass("slideOutUp");
                            element.addClass("fadeIn");
                        }, 500);
                    }
                    // Tap gesture
                    if (ev.type == "tap") {
                        // If the element is already zoomed in
                        if (element.hasClass("element-increase")) {
                            element.addClass("element-reset");
                            element.removeClass("element-increase");
                        } else {
                            // Reset all elements
                            $(".assetThumbnail").removeClass("element-increase");
                            $(".assetThumbnail").removeClass("element-reset");
                            // Increase size of selected element
                            element.addClass("element-increase");
                        }
                    }
                });
            });
        }
    </script>
    <script>
        // Prevent chrome popup menu on hold (android)

        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");

        if (isAndroid) {
            window.oncontextmenu = function (event) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            };
        }

    </script>
</div>
{% endblock %}
