{% extends "presentation_navigbar.html" %}

{% set page_title = 'Controller' %}

{% block content %}
    <div class="topSpace"></div>

    <div class="currentBlock">
        <h3 class="whiteText">Current</h3>
        <div class="imageRow" id="currentRow"></div>
    </div>

    <div class="frequentBlock">
        <h3 class="whiteText">Frequent</h3>
        <div class="imageRow" id="frequentRow"></div>
    </div>

    <div class="tabsBlock">
        <div class="tabPanel" id="tabPanel"></div>
        <div class="whiteText bubbleButton rowsButton" id="addTabBtn">
          <i class="fas fa-plus"></i>
        </div>
        <div class="imageRow" id="currentTabRow"></div>
        <!-- <div class="whiteText bubbleButton bubbleButtonRedHover rowsButton" id="deleteTabBtn">Delete tab</div> -->
    </div>


{% endblock content %}


{% block end_body %}
    <script>
        document.getElementById('controllerMode').classList.add('selected');
    </script>

    <script type="text/javascript" src="{{url_for('static', filename='JS/controller.js')}}"></script>
{% endblock end_body %}
