{% extends 'base.html' %}

{% set page_title = 'Enter Session' %}

{% block content %}
    <div class="midScreen whiteText">
        <div>
            {% if mode == "new" %}
                <h2 class="normalFont">You have started a new session. Please select mode for this device</h2>
            {% elif mode == "continue" %}
                <h2 class="normalFont">You are continuing a previous session. Please select mode for this device</h2>
            {% elif mode == "empty" %}
                <h2 class="normalFont">Continuing previous session as no assets were added. Please select mode for this device</h2>
            {% endif %}
            <div class="flashes">
                {% include 'includes/_messages.html' %}
            </div>
            <a href="/controller">
                <div class="bubbleButton bubbleButtonDark modeButton">
                    Controller
                </div>
            </a>
            <a href="/presenter">
                <div class="bubbleButton bubbleButtonDark modeButton">
                    Presenter
                </div>
            </a>
        </div>

    </div>
{% endblock content %}
