{% extends "base.html" %}
{% set active_page = 'login' %}
{% set page_title = 'Login' %}
{% block content %}
	<div class="page-background two">
		<div id="userModal" class="modal-popup" style="display: block;">
			<div class="modal-popup-content">
				<div class="left">
				</div>
				<div class="right">
					<div class="modal-tabs">
						<button id="sign-up-tab"  class="modal-tab-btn">
							<a href="/api/userRegister">SIGN UP</a>
						</button>
						<button id="sign-in-tab" class="modal-tab-btn active">
							<a href="#">LOGIN</a>
						</button>
					</div>
					
					<div id="sign-in-content" class="modal-tab-content">
						<div class="upper">
							
						</div>
						<div class="lower">
							{% from "includes/_formhelpers.html" import render_field %}
							<form method='POST' action="" >
								<div class="section">
									<p>EMAIL:</p>
									{{render_field(form.email, autocomplete="email")}}
									{% if error and error == "wrong_email" %}
										<p class="error">Unrecognised email address.</p>
									{% endif %}
								</div>
								<div class="section">
									<p>PASSWORD:</p>
									{{render_field(form.password, autocomplete="current-password")}}
									{% if error and error == "wrong_password" %}
										<p class="error">Incorrect password.</p>
									{% endif %}
								</div>
								<div class="footer">
									<button type="submit">LOGIN</button>
								</div>
								{{ form.hidden_tag() }}
							</form>
							<br /><br /><br />
							<a id="forgot-password" href="/reset_password">Forgot Your Password?</a>
						</div>
						<div class="flashes">
							{% include 'includes/_messages.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{#<div class="container">
			<h1>Header</h1>
			{% if email %}
				<h2>Logged in as: {{email}}</h2>
			{% endif %}
		</div>#}
	</div>
{% endblock %}