{% extends "base.html" %}
{% set active_page = 'login' %}
{% set page_title = 'Login | Improvisor' %}
{% block content %}

<div class="midScreen">
    <div class="promptContainer">
        <h1 class="darkText">Login</h1>
		{% from "includes/_formhelpers.html" import render_field %}
		<form method='POST' action="">
			<div class="inputSection">
				<p class="darkText boldText labelDiv">E-mail</p>
				{{render_field(form.email, autocomplete="email", class="bubbleButton growText")}}
			</div>
			<div class="inputSection">
				<p class="darkText boldText labelDiv">Password</p>
				{{render_field(form.password, autocomplete="new-password", class="bubbleButton growText")}}
			</div>
			<div class="midScreen">
				<button type="submit" class="bubbleButton bubbleButtonDark">Login</button>
			</div>
			{{ form.hidden_tag() }}
		</form>
        <br>
		<div class="midScreen">
			<a id="forgot-password" class="darkText boldText" href="/reset_password">Forgot Your Password?</a>
		</div>

		<div class="flashes">
			{% include 'includes/_messages.html' %}
		</div>
    </div>
</div>

{% endblock %}
