{% extends "base.html" %}
{% set active_page = 'login' %}
{% set page_title = 'Login | Improvisor' %}
{% block content %}
<br /><br />
<div class="register">
	<h1>Login</h1>
	<div class="inputs">
		{% from "includes/_formhelpers.html" import render_field %}
		<form method='POST' action="">
			<div class="section">
				<p>EMAIL:</p>
				{{render_field(form.email, autocomplete="email")}}
			</div>
			<div class="section">
				<p>PASSWORD:</p>
				{{render_field(form.password, autocomplete="new-password")}}
			</div>
			<div class="footer">
				<button type="submit">Login</button>
			</div>
			{{ form.hidden_tag() }}
		</form>
		<div class="flashes">
			{% include 'includes/_messages.html' %}
		</div>
	</div>
	

</div>

{% endblock %}