{% extends "base.html" %}
{% block content %}

<div class="manual-container darkText">
  <h1>Contents:</h1>
  <ol>
    <li>
      <a href="#authentication"><h3>Authentication</h3></a>
      <ul>
        <li><a href="">Registration</a></li>
        <li> <a href="">Login</a></li>
        <li><a href="">Password Reset</a></li>
      </ul>
    </li>
    <li>
      <h3><a href="#sessions">Sessions</a></h3>
      <ul>
        <li><a href="">Active Session</a></li>
        <li><a href="">Finished Session</a></li>
        <li><a href="">Session Mode</a></li>
      </ul>


    </li>
    <li>
      <h3><a href="#assets">Assests</a></h3>
      <ul>
        <li><a href="">Add New</a></li>
        <li><a href="">Edit</a></li>
      </ul>
    </li>

  </ol>


  <section class="mt-5"id="authentication">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
  <section id="sessions">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
  <section id="assets">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
</div>

{% endblock %}
