{% extends "base.html" %}
{% block content %}

<div class="manual-container darkText">
  <h1>Contents:</h1>
  <ol>
    <li>
      <a href="#authentication">
        <h3>Authentication & User Settings</h3>
      </a>
      <ul>
        <li><a href="javascript:void(0);" class="smooth" data-scroll="registration">Registration</a></li>
        <li><a href="javascript:void(0);" class="smooth" data-scroll="login">Login</a></li>
        <li><a href="javascript:void(0);" class="smooth" data-scroll="passReset">Password Reset</a></li>
        <li><a href="javascript:void(0);" class="smooth" data-scroll="userSettings">User Settings</a></li>
      </ul>
    </li>

    <li>
      <h3><a href="javascript:void(0);" class="smooth" data-scroll="assets">Assests</a></h3>
      <ul>
        <li><a href="javascript:void(0);" class="smooth" data-scroll="addNew">Adding New Assets</a></li>
        <li><a href="javascript:void(0);" class="smooth" data-scroll="edit">Editing Assets</a></li>
      </ul>
    </li>

    <li>
      <h3><a href="javascript:void(0);" class="smooth" data-scroll="sessions">Sessions</a></h3>
      <ul>
        <li><a href="javascript:void(0);" class="smooth" data-scroll="">Active Session</a></li>
        <li><a href="javascript:void(0);">Finished Session</a></li>
        <li><a href="javascript:void(0);">Session Mode</a></li>
      </ul>
    </li>

  </ol>


  <section id="authentication">
    <h1>Authentication & User Settings</h1>
    <ul>
      <li>
        <h3 id="registration">Registration</h3>
        <p>To be able to use Improvisor, the user needs to sigh up for account. This will enable the user to download
          their own assets that will not be available to other users. The registration process is straightforward and
          only require the full name, email address and a password. </p>
      </li>
      <li>
        <h3 id="login">Login</h3>
        <p>
          To log into the account the user requires the email address and password that were used in the registration
          process.
        </p>
      </li>
      <li>
        <h3 id="passReset">Password Reset</h3>
        <p>
          If the user has forgotten ther password, it can be easily reset by clicking on the 'Forgot Your Password?'
          link on the Login page. Email address, under which the profile was registered, will need to be provided, to
          which a password reset link will be sent. By clicking on the link, the user will be asked to provide a new
          password.
        </p>
      </li>
      <li>
        <h3 id="userSettings">User Settings</h3>
        <p>
          Once logged in, the user settings can be accessed by clicking either on the user name in the navigation bar, or on the user photo. Here email addres, name and password can be changed, as well as the colour of the presenter background.
        </p>
      </li>
    </ul>
  </section>

  <section id="assets">
    <h1>Assets</h1>
    <p>Assets are any png, jpeg, text files and links, that the user wants to use in their presentation. Added assets
      are stored on the server and are ready to be used in any presentation. You can access the assets page by clicking
      on the 'Asset Pool' button (1) on the right-hand side of the main page. </p>
    <img class="manualImg" src="{{url_for('static', filename='resources/manual/asset_pool.png')}}" alt="Asset page"
      style="max-width: 90%;">
    <ul>
      <li>
        <h3 id="addNew">Adding New Assets</h3>
        <p>
          To add a new asset go to the 'Asset Pool' page and click the 'Add' button that is situated in the right
          top corner. On the next page enter the asset name (2) and asset tags (3) that will be associated with it. Next you can choose if you want the asset to be a file (pdf, jpeg, png) or a link (4). As default, it is set to file. Then choose a file, or enter http(s) address of the link. Once the file has been selected, or link entered, a default thumbnail will be displayed. If you want the name of the asset to be used as a thumbnail tick the 'Use nama as thumbnail' checkbox (5). Alternatively, you can click on the displayed image and select a different file that will be used as a thumbnail.
        </p>
        <p>
          If you would like to add multiple assets at once, you can click on '+ Add Asset' button which will display an additional form for the next asset. Once you have completed all fields for all assets, you can save them by clicking on 'Submit' button.
        </p>
        <img class="manualImg" src="{{url_for('static', filename='resources/manual/add_asset.png')}}" alt="Asset page"
          style="max-width: 90%;">
        <p>
          To make sure that the selected tags will be recognised by speech recognition, you can test them by clicking on the
          'Test Recognition' button (6) in the bottom right corner of the screen. Then say a sentence containing your tag and
          see if the output contains the tag that you want to use.
        </p>
        <img class="manualImg" src="{{url_for('static', filename='resources/manual/tag_test.png')}}" alt="Asset page"
          style="max-width: 90%;">
      </li>
      <li>
        <h3 id="edit">Editing Assets</h3>
        <p>
          Added assets can be deleted, or edited. To access this feature, go to 'Asset Pool' where all saved assets will be displayed. The assets can be sorted by when they were added ('Most Recent' or 'Oldest First'), or by relevance. To sort by relevance tags need to be provided in the 'Filter Tags:' input box. When more than one tag is provided, only assets that are linked to all tags will be displayed.
        </p>
        <p>
          To delete an assets you can click on any asset, which will display asset details, and then click on 'Delete Asset'. Alternatively, click on 'Select' button, that is situated above the box that displays all assets, and then select an asset to delete. A 'Delete' button will appear next to the 'Select' button. Clicking on the 'Delete' button will delete the selected asset. By using the 'Select' button you can highlight multiple assets and delete all of them at the same time.
        </p>
        <p>
          Clicking on a particular asset will open a page with the asset details, where changes can be applied. Here you can modify the thumbnail, by clicking on it and selecting a new thumbnail file, or ticking the 'Use name as thumbnail' check box. Additionally, the name can be updated (by clicking on it) and tags can be added or deleted.
        </p>
      </li>

    </ul>
  </section>
  <section id="sessions">
    <p>

    </p>
  </section>
</div>

<script>
  $('a').each(function () {
    var element = $(this);
    var section = $(this).data("scroll")
    if (element.hasClass("smooth")) {
      if (section != null && section != "") {
        element.click(function () {
          scrollTo(section);
        });
      } else {
        element.click(function () {
          alert(
            "data-scroll attribute value not found - should be a valid div id\nAll anchors with class 'smooth' on this page use a smooth scroll function.\n For example:\n<a href='javascript:void(0);' class='smooth' data-scroll='registration'>Registration</a>"
            );
        });
      }
    }
  });
</script>

{% endblock %}
