{% extends "base.html" %}
{% set page_title = 'Reset Password | Improvisor' %}
{% block content %}
<br /><br />
<div class="register">
	<h1>Password Reset</h1>
	<div class="inputs">
		{% from "includes/_formhelpers.html" import render_field %}
		<form method='POST' action="" >
			<div class="section">
				<h3>Password Reset</h3>
			</div>
			<div class="section">
				<p>NEW PASSWORD:</p>
				{{render_field(form.password, autocomplete="new-password")}}
			</div>
			<div class="section">
				<p>CONFIRM PASSWORD:</p>
				{{render_field(form.confirm, autocomplete="new-password")}}
			</div>
			<div class="footer">
				<button type="submit">Reset Password</button>
			</div>
			{{ form.hidden_tag() }}
		</form>
		<br />
		<div class="flashes">
			{% include 'includes/_messages.html' %}
		</div>
	</div>
	

</div>

{% endblock %}