{% extends "base.html" %}
{% set page_title = 'Reset Password | Improvisor' %}
{% block content %}
<div class="midScreen">
  <div class="promptContainer">
    <h1 class="darkText">Password Reset</h1>

		{% from "includes/_formhelpers.html" import render_field %}
		<form method='POST' action="">
			<div class="inputSection">
				<p class="darkText boldText labelDiv">E-mail</p>
        {{render_field(form.email, autocomplete="email", class="bubbleButton growText")}}
        {% if error and error == "wrong_email" %}
          <p class="error">Unrecognised email address.</p>
        {% endif %}
			</div>
			<div class="midScreen">
				<button type="submit" class="bubbleButton bubbleButtonDark">Reset Password</button>
			</div>
			{{ form.hidden_tag() }}
		</form>
		<div class="flashes">
			{% include 'includes/_messages.html' %}
		</div>
  </div>
</div>

{% endblock %}
