{% extends "base.html" %}
{% set page_title = 'Reset Password | Improvisor' %}
{% block content %}
<br /><br />
<div class="register">
	<h1>Password Reset</h1>
	<div class="inputs">
		{% from "includes/_formhelpers.html" import render_field %}
		<form method='POST' action="">
			<div class="section">
				<p>EMAIL:</p>
				{{render_field(form.email, autocomplete="email")}}
				{% if error and error == "wrong_email" %}
					<p class="error">Unrecognised email address.</p>
				{% endif %}
			</div>
			<div class="footer">
				<button type="submit">Submit</button>
			</div>
			{{ form.hidden_tag() }}
		</form>
		<br />
		<div class="flashes">
			{% include 'includes/_messages.html' %}
		</div>
	</div>
	

</div>

{% endblock %}