{% extends "base.html" %}

{% block navigbar %}
    <div class="navigbar floatingShadow flexnavig">
        <a href="/sessions">
            <div class="navigbarItem">
              <i class="fas fa-arrow-left"></i>
            </div>
        </a>

        <a href="/controller">
            <div class="navigbarItem navigbarItemMid" id="controllerMode">
              Controller
            </div>
        </a>

        <a href="/presenter">
            <div class="navigbarItem navigbarItemMid" id="presenterMode">
                Presenter
            </div>
        </a>
    </div>
{% endblock navigbar %}

{% block content %}
    <div class="presenter-view">
        <img id="display" src="">
    </div>
{% endblock content %}

{% block end_body %}
    <script>
        document.getElementById('presenterMode').classList.add('selected');
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/presenter.js')}}"></script>
{% endblock end_body %}
