{% extends "presentation_navigbar.html" %}

{% set page_title = 'Presenter' %}

{% block navigbar_microphone %}

{% endblock navigbar_microphone%}

{% block content %}
    <div data="{{background_color}}" id="data-color"></div>
    <div class="presenter-view" id="presenterView">
        <img id="img_display" src="">
        <embed id ="embed_display" type="application/pdf" width="100%" height="100%" src=""/>
        <object id="object_display" data=""></object>
        <a id="link_display"></a>
    </div>
{% endblock content %}

{% block end_body %}
    <script>
        document.getElementById('presenterMode').classList.add('selected');
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/presenter.js')}}"></script>
{% endblock end_body %}
