{% extends "with_sidebar.html" %}

{% set page_title = 'Sessions' %}

{% block page_content %}
    <h2 class="darkText">Previous Sessions</h2>
    <div class="darkText text20">
        <div id="sortingDiv">
            <div class="boldText">Sort by:</div>
            <div id="sortBtnContainer">
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnRecent">
                    Most Recent
                </div>
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnOld">
                    Oldest First
                </div>
            </div>
        </div>
    </div>
    <div class="sessions whiteContainer" id="assetPool">
        {% for session in sessions %}
            <a href="/sessions/{{session.sessionNumber}}">
                <div class="session darkText">
                    <p class="darkText text20 boldText">{{session.sessionName}}</p>
                    <p class="blackText boldText labelText">ID: {{session.sessionNumber}}</p>
                    <p class="blackText boldText labelText">{{session.dateCreated.strftime('%d-%m-%Y')}}</p>
                </div>
            </a>

        {% endfor %}
    </div>
    <div class="centerFlex">
        <div class="bubbleButton bubbleButtonDark rowsButton" id="loadMore">
            Load more
        </div>
    </div>
{% endblock page_content %}


{% block end_body %}
    <script>
        document.getElementById('prevSessionOption').classList.add('selected');
    </script>
{% endblock end_body %}
