{% extends "with_sidebar.html" %}

{% set page_title = 'Sessions' %}

{% block page_content %}
    <h2 class="darkText">Previous Sessions</h2>
    <div class="darkText text20">
        <div id="sortingDiv">
            <div class="boldText">Sort by:</div>
            <div id="sortBtnContainer">
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnRecent">
                    Most Recent
                </div>
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnOld">
                    Oldest First
                </div>
            </div>
        </div>
    </div>
    <div class="sessions-list whiteContainer" id="assetPool">
        {% for session in sessions %}

            <a href="/sessions/{{session.id}}">
                <div class="assetPageTop assetpool-asset">
                    <div class="assetPageLeft boldText darkText text18">
                        <p>Session {{session.id}}</p>
                        {% if session.active == 1 %}
                            <p>
                                <span class="circleGreen"></span>
                                Active
                            </p>
                        {% else %}
                            <p>
                                Finished
                            </p>
                        {% endif %}
                        <p>DD/MM/YY</p>
                    </div>
                    <div class="assetPageRight sessionPage">
                        <div class="bubbleButton bubbleButtonDark bubbleButtonGreenHover rowsButton">
                            Export session
                        </div>
                        <div class="bubbleButton bubbleButtonDark bubbleButtonRedHover rowsButton">
                            Delete
                        </div>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>
    <div class="centerFlex">
        <div class="bubbleButton bubbleButtonDark rowsButton" id="loadMore">
            Load more
        </div>
    </div>
{% endblock page_content %}


{% block end_body %}
    <script>
        document.getElementById('prevSessionOption').classList.add('selected');
    </script>
{% endblock end_body %}
