{% extends "with_sidebar.html" %}

{% set page_title = 'Sessions' %}

{% block page_content %}
    <h2 class="darkText">Previous Sessions</h2>
    <div class="darkText text20">
        <div id="sortingDiv">
            <div class="boldText">Sort by:</div>
            <div id="sortBtnContainer">
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnRecent">
                    Most Recent
                </div>
                <div class="bubbleButton bubbleButtonTransp boldText" id="sortBtnOld">
                    Oldest First
                </div>
            </div>
        </div>
    </div>
    <div class="sessions whiteContainer" id="assetPool">
        {% for session in sessions %}
            <a href="/sessions/{{session.sessionNumber}}">
                <div class="session darkText whiteContainer">
                    <p class="darkText text20 boldText">{{session.sessionName}}</p>
                    {% if session.active == 1 %}
                        <p><span class="circleGreen"></span> Active</p>
                    {% else %}
                        <p>Finished</p>
                    {% endif %}
                    <p class="blackText boldText labelText">ID: {{session.sessionNumber}}</p>
                    <p class="blackText boldText labelText">{{session.dateCreated.strftime('%d-%m-%Y')}}</p>
                </div>
            </a>

        {% endfor %}
    </div>
    <div id="data-sorting" data="{{sorting}}"></div>


    <div id="helpModal" class="modalHelp">
      <div class="modal-contentHelp">
        <span class="closeHelp">&times;</span>
        <h1>Help</h1>
        <p>
          All previous sessions are saved and can be accessed from the main menu by clicking on 'Previous Sessions'. You will be presented with a list of all sessions which can be sorted by their date. The last session on the list (the most recent one) will always be active, and the status will change to finished only when a new one is started.
        </p>

        <p>
          Clicking on any of the sessions from the list displays the session's details. Here you can amend the session's name (by clicking on it), export assets shown during the session in a pdf file, or delete the session.
        </p>

      </div>
    </div>
{% endblock page_content %}


{% block end_body %}
    <script>
        document.getElementById('prevSessionOption').classList.add('selected');
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/session_pool.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='JS/helpModal.js')}}"></script>
{% endblock end_body %}
