{% extends "with_sidebar.html" %}

{% set page_title = 'Session' %}

{% block page_content %}
<h2 class="darkText">
    <a href="/sessions">
        <i class="fas fa-arrow-left darkText"></i>
    </a>
    Previous Sessions
</h2>

<div id="{{session.sessionNumber}}" class="session-page whiteContainer">
    <div class="session-title">
        {{form.sessionname(class="assetTitle darkText boldText", id="sessionNameInput", data=session.sessionName, value=session.sessionName )}}
        {% if form.sessionname.errors %}
            {% for error in form.sessionname.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% if session.dates|length > 0 %}
        <div class="currentBlock">
            <h3 class="blackText">Session Assets:</h3>
            <div class="imageRow style-2" id="currentRow">
                {% for asset in session.dates %}
                    <img src="{{asset.asset.thumbnailLocation}}" data-id="{{asset.asset.id}}" title="{{asset.asset.assetname}}" class="assetThumbnail" style="touch-action: pan-x; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                {% endfor %}
            </div>
        </div>
    {% else %}
        None
    {% endif %}
</div>

<button id="session-export" class="bubbleButton darkText rowsButton bubbleButtonDark bubbleButtonGreenHover">Export Session</button>
<button id="session-delete" class="bubbleButton darkText rowsButton bubbleButtonDark bubbleButtonRedHover rightSpan">Delete Session</button>

<br />
<div class="flashes">
    {% include 'includes/_messages.html' %}
</div>
{% endblock page_content %}

{% block end_body %}
<script>
    document.getElementById('prevSessionOption').classList.add('selected');
</script>
<script type="text/javascript" src="{{url_for('static', filename='JS/session_page.js')}}"></script>
{% endblock end_body %}
