{% extends "with_sidebar.html" %}

{% set page_title = 'Session' %}

{% block page_content %}
<h2 class="darkText flexStart">
    <a href="/sessions">
        <i class="fas fa-arrow-left darkText"></i>
    </a>
    <span class="flexGrow center">
      <span>Previous Sessions</span>
    </span>
</h2>
<div id="{{session.sessionNumber}}" class="session-page whiteContainer">
    <form id="formUpdate" class="flexContVertical" method="POST" action="/sessions/{{session.sessionNumber}}/update" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="session-title">
        {{form.sessionname(class="assetTitle darkText boldText", id="sessionNameInput", data=session.sessionName, value=session.sessionName )}}
        {% if form.sessionname.errors %}
            <p class="error">{{ form.sessionname.errors[0] }}</p>
        {% endif %}
    </div>
    <h3 class="blackText">Session Assets:</h3>
    {% if session.dates|length > 0 %}
        <div class="currentBlock">
            <div class="imageRow style-2" id="currentRow">
                {% for asset in session.dates %}
                    <img src="{{asset.asset.thumbnailLocation}}" data-id="{{asset.asset.id}}" data-index={{loop.index - 1}} title="{{asset.asset.assetname}}" class="assetThumbnail" style="touch-action: pan-x; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                {% endfor %}
            </div>
        </div>
    {% else %}
        None
    {% endif %}
</div>

<div class="session-page-controls">
    <button id="session-export" class="bubbleButton darkText rowsButton bubbleButtonDark bubbleButtonGreenHover">Export Session</button>
    <button id="session-save" class="bubbleButton darkText rowsButton bubbleButtonDark bubbleButtonGreenHover">Save Changes</button>
    <button id="session-delete" class="bubbleButton darkText rowsButton bubbleButtonDark bubbleButtonRedHover">Delete Session</button>
</div>

<br />
<div class="flashes">
    {% include 'includes/_messages.html' %}
</div>
{% endblock page_content %}

{% block end_body %}
<script>
    document.getElementById('prevSessionOption').classList.add('selected');
</script>
<script type="text/javascript" src="{{url_for('static', filename='JS/session_page.js')}}"></script>
{% endblock end_body %}
