{% extends "presentation_navigbar.html" %}

{% set page_title = 'Controller' %}

{% block content %}
<div class="topSpace"></div>

<div class="currentBlock">
    <h3 class="whiteText">Current</h2>
        <div class="imageRow" id="currentRow"></div>
</div>
<br /><br />
<button id="add-asset" class="btn-warning">Add Asset</button>

<!--
<button id="unslick">Unslick</button>
    <div class="frequentBlock">
    <h3 class="whiteText">Frequent</h2>
        <div class="imageRow" id="frequentRow"></div>
</div>

<div class="tabsBlock">
    <div class="tabPanel" id="tabPanel"></div>
    <div class="whiteText bubbleButton rowsButton" id="addTabBtn">
        <i class="fas fa-plus"></i>
    </div>
    <div class="imageRow" id="currentTabRow"></div>
</div>
-->



{% endblock content %}


{% block end_body %}
<script>
    document.getElementById('controllerMode').classList.add('selected');
</script>

<script>
    var currentResults = document.getElementById("currentRow");
    // Add responsive setting to make sure slidesToShow is correct for different screen sizes
    var settings = {
        accessibility: true,
        swipe: true,
        dots: false,
        infinite: false,
        speed: 500,
        slidesToShow: 2,
        slidesToScroll: 2,
        variableWidth: true,
        edgeFriction: 0.5,
        arrows: true,
        nextArrow: '<i class="fas fa-arrow-alt-circle-right arrowBtn nextArrowBtn"></i>',
        prevArrow: '<i class="fas fa-arrow-alt-circle-left arrowBtn prevArrowBtn"></i>'
    }

    $('#add-asset').click(function () {
        addAsset();
    });

    $('#unslick').click(function () {
        $('.imageRow').slick('unslick');
    });

    assets = [];

    function addAsset() {
        asset = {
            id: 0,
            asset: 'Example Asset',
            thumbnailLocation: "https://i.imgur.com/vLr9hvx.png",
        };
        assets.push(asset);
        console.log("Add asset");
        //unslick();
        updateResults();
        //applyScrollGestures();
    };

    function applyScrollGestures() {

        // Add responsive setting to make sure slidesToShow is correct for different screen sizes
        var settings = {
            accessibility: true,
            swipe: true,
            dots: false,
            infinite: false,
            speed: 500,
            slidesToShow: 2,
            slidesToScroll: 2,
            variableWidth: true,
            edgeFriction: 0.5,
            arrows: true,
            nextArrow: '<i class="fas fa-arrow-alt-circle-right arrowBtn nextArrowBtn"></i>',
            prevArrow: '<i class="fas fa-arrow-alt-circle-left arrowBtn prevArrowBtn"></i>'
        }

        $('.imageRow').slick(settings);
    }

    function unslick() {
        if ($('.imageRow').hasClass('slick-initialized')) {
            $('.imageRow').slick('unslick');
        }
    };

    function updateResults() {
        console.log(assets);
        /*
        frequentResults.innerHTML = "";
        for (asset in assets) {
            var image = document.createElement("IMG");
            var thumbnail = assets[asset]['thumbnailLocation'];
            if (thumbnail != null) {
                image.src = thumbnail;
            } else {
                image.src = "https://i.imgur.com/5NqcCVN.png";
            }
            image.setAttribute("data-id", assets[asset]['id']);
            image.setAttribute("title", assets[asset]['asset']);
            image.classList.add("assetThumbnail");
            image.classList.add("animated");
            image.classList.add("faster");
            frequentResults.appendChild(image);
        }
        */
        currentResults.innerHTML = "";
        for (asset in assets) {
            var image = document.createElement("IMG");
            var thumbnail = assets[asset]['thumbnailLocation'];
            if (thumbnail != null) {
                image.src = thumbnail;
            } else {
                image.src = "https://i.imgur.com/5NqcCVN.png";
            }
            image.setAttribute("data-id", assets[asset]['id']);
            image.setAttribute("title", assets[asset]['asset']);
            image.classList.add("assetThumbnail");
            image.classList.add("animated");
            image.classList.add("faster");
            currentResults.appendChild(image);
        }
    };
</script>
<!--
<script type="text/javascript" src="{{url_for('static', filename='JS/controller.js')}}"></script>
-->

{% endblock end_body %}