{% extends "with_sidebar.html" %}

{% set page_title = 'User Settings' %}

{% block page_content %}
    <h2 class="darkText">User Settings</h2>
    <form method="POST" action="/user_settings" enctype="multipart/form-data">
        {{form.csrf_token}}
        {{form.userPicture.label}}{{form.userPicture}}<br/>
        {{form.passwordUpdate.label}} {{form.passwordUpdate}} 
        {{form.confirmUpdate.label}} {{form.confirmUpdate}}<br/>
        {{form.emailUpdate.label}}{{form.emailUpdate}}<br/>
        {{form.firstnameUpdate.label}} {{form.firstnameUpdate}}<br/>
        {{form.lastnameUpdate.label}} {{form.lastnameUpdate}} <br/>

        <input type ="submit" value = "Submit">
    </form>
    <div class="flashes">
        {% include 'includes/_messages.html' %}
    </div>
{% endblock page_content %}
