{% extends "with_sidebar.html" %}

{% set page_title = 'User Settings' %}

{% block page_content %}
    <h2 class="darkText">User Settings</h2>

    <div class="verticalFormsContainer">
      {% from "includes/_formhelpers.html" import render_field %}
      <form method="POST" id="userForm" class="whiteContainer userForm" action="/user_settings" enctype="multipart/form-data">
          {{form.csrf_token}}
          <img class="avatarImg" id="profileImgBtn" src='{{current_user.profileImageLocation}}' width=120px height=120px/>
          <div class="inputSection">
              {{form.userPicture(class="")}}
              {% if form.userPicture.errors %}
                  {% for error in form.userPicture.errors %}
                      <p class="error">{{ error }}</p>
                  {% endfor %}
              {% endif %}
          </div>

          <div class="inputSection">
              <p class="darkText boldText labelDiv">Email:</p>
              {{render_field(form.emailUpdate, autocomplete="email", class="bubbleButton growText text18")}}
          </div>

          <div class="inputSection">
              <p class="darkText boldText labelDiv">First Name:</p>
              {{render_field(form.firstnameUpdate, autocomplete="given-name", class="bubbleButton growText text18")}}
          </div>

          <div class="inputSection">
              <p class="darkText boldText labelDiv">Last Name:</p>
              {{render_field(form.lastnameUpdate, autocomplete="family-name", class="bubbleButton growText text18")}}
          </div>

          <div class="inputSection">
              <p class="darkText boldText labelDiv">Update Password:</p>
              {{render_field(form.passwordUpdate, autocomplete="new-password", class="bubbleButton growText text18")}}
          </div>

          <div class="inputSection">
              <p class="darkText boldText labelDiv">Confirm Password:</p>
              {{render_field(form.confirmUpdate, autocomplete="new-password", class="bubbleButton growText text18")}}
          </div>

          <div>
            <p class="darkText boldText labelDiv">Presenter View Colour:</p>
            {{form.colourSetting}}
          </div>
          {{ form.hidden_tag() }}
          <button id="save" class="bubbleButton darkText rowsButton bubbleButtonDark bubbleButtonGreenHover">Save Changes</button>
      </form>
    </div>

    <div class="flashes">
        {% include 'includes/_messages.html' %}
    </div>
{% endblock page_content %}

{% block end_body %}
    <script type="text/javascript" src="{{url_for('static', filename='JS/user_settings.js')}}"></script>
{% endblock end_body %}
