html {
    height: 100vh;
    /* background: radial-gradient(ellipse at center, #ff8011 15%,#ff5d00 76%); */
    background-color: rgb(38, 100, 201);
    background: #2664c9;
    /* Old browsers */
    background: -moz-linear-gradient(-55deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-55deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(145deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2664c9', endColorstr='#4b89ed', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.container {
    background: none;
}

body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background: none;
}

.normalFont {
    font-weight: normal;
}

.midScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    margin: 0 auto;
    text-align: center;
}

.bubbleButtonDark.modeButton {
    display: inline-block;
    margin: 5px 12px;
    font-weight: bold;
    padding: 20px;
    font-size: 22px;
}

.topSpace {
    width: 100%;
    height: 100px;
}

.mainContainer {
    height: 100vh;
    position: relative;
    width: 65%;
    min-height: 360px;
    min-width: 670px;
    margin: 0 auto;
}

.pageContainer {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 68%;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 12px;
    min-height: 600px;
}

.rightContainer {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width: 30%;
}

.avatarImg {
    border-radius: 50%;
}

.rightContItem {
    width: auto;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    margin: 8px auto;
    text-align: center;
}

.whiteText {
    color: rgba(255, 255, 255, 0.9);
}

.darkText {
    color: rgb(28, 80, 165);
}

.darkBack{
    background-color: #2664c9;
}

.rowsButton{
    font-size: 19px;
    font-weight: bold;
    margin: 8px 6px;
    display: inline-block;
}

.bubbleButton{
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
}

.bubbleButtonDark {
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
}

.bubbleButton:hover {
    cursor: pointer;
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}
.bubbleButtonRedHover:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background-color: #c92641;
}

.bubbleButtonDark.selected {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

#user_field {
    font-size: 27px;
}

#user_field:hover {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.navigbar {
    padding: 0 12px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #2664c9;
    min-width: 640px;
}

.flexnavig {
    display: flex;
    justify-content: center;
}

.navigbarItem {
    color: rgba(255, 255, 255, 0.9);
    font-size: 19px;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px 6px;
    line-height: 24px;
    display: inline-block;
    padding: 0 10px;
}

.navigbarItem:hover {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.navigbarItem.selected {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

.navigbarItemRight {
    float: right;
}

.floatingShadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}



.imageRow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 160px;
    white-space: nowrap;
}

.imageRow img {
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 200px;
    max-height: 150px;
}

.tabPanel{
    display: inline-block;
}

.element-increase {
    z-index: 1;
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

.element-reset {
    transition: all .2s ease-in-out;
    transform: scale(1);
}

.presenter-view {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

.presenter-view #display {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    background: none;
}

.hidden {
    display: none;
}

.controls button {
    padding: 4px 20px;
    border-radius: 15px;
    height: 45px;
    width: 220px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.register h1 {
    font-weight: bold;
}

.register .inputs {
    margin-top: 15px;
}

.register .inputs .footer {
    display: flex;
    justify-content: center;
}

.register .inputs .footer button {
    height: 40px;
    border-radius: 20px;
    width: 150px;
    background: #0044ff;
    font-size: 18px;
    border: none;
    color: white;
    margin: 0 0 15px 0;
}

.register .inputs .footer button:hover,
.register .inputs .footer button:active {
    background: #002a9e;
}

.register .inputs .section {
    width: 260px;
    margin-bottom: 15px;
}

.register .inputs .section p {
    margin-bottom: 0;
}

p.error {
    color: rgb(255, 0, 0) !important;
    font-weight: bold;
}

.register .inputs .section input {
    width: 100%;
    color: white;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;

}

.register .inputs .section input::placeholder {
    color: black;
}

.assetpool-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.assetpool-asset {
    width: 160px;
    height: auto;
    margin: 5px !important;
    text-align: center;
}

.assetpool-asset .thumbnail-placeholder {
    width: 160px;
    height: 90px;
    border:1px solid #000;
    background-color: aquamarine;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}



.assetpool-asset img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}