html {
    margin: 0;
    padding: 0;
    height: none;
    min-height: 100%;
    position: relative;
    /* Old browsers */
    background: -moz-linear-gradient(-55deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-55deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(145deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2664c9', endColorstr='#4b89ed', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.container {
    background: none;
}

.manual-container {
  margin: 7%;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 2%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background: none;
}

.normalFont {
    font-weight: normal;
}

.midScreen {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;
}

.bubbleButtonDark.modeButton {
    display: inline-block;
    margin: 5px 12px;
    font-weight: bold;
    padding: 20px;
    font-size: 22px;
}

.topSpace {
    width: 100%;
    height: 100px;
}

.mainContainer {
    position: relative;
    width: 75%;
    min-height: 360px;
    /* min-width: 670px; */
    margin: 0 auto;
}

.sideBySideFlex{
    display:flex;
    flex-direction: row-reverse;
}

@media screen and (min-width: 750px) and (max-width: 970px) {
    .mainContainer {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 749px) {
    .mainContainer {
        width: 100%;
        box-sizing: border-box;
    }

    .topSpace {
        height: 7vh;
    }

    .pageContainer {
        max-width: 100% !important;
    }

    .session-page-controls {
        flex-direction: column !important;
        justify-content: center !important;
    }
}

.pageContainer {
    max-width: 70%;
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.promptContainer {
    min-width: 320px;
    box-sizing: border-box;
    width: 30vw;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 12px;
    margin-bottom: 20px;
}

.rightContainer {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    min-width: 30%;
    max-width: 30%;
}

.midContainer {

    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* margin-left: 15px;
    margin-right: 15px; */
    min-width: 30%;
    max-width: 30%;
}

.avatarImg {
    border-radius: 50%;
}

.rightContItem {
    width: auto;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    margin: 8px auto;
    text-align: center;
}

#user_field {
    font-size: 27px;
}

#user_field:hover {
    cursor: pointer;
}


.floatingMicCont{
    display: flex;
    width: 100%;
    flex-grow: 1;
    align-items: flex-end;
}

.floatingMic{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

.floatingMic div{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.floatingMic textarea{
    font-size: 20px;
    box-sizing: border-box;
    max-width: 100%;
}

@media screen and (max-width: 749px) {
    .mainContainer {
        padding-left: 5px;
        padding-right: 5px;
    }

    .pageContainer {
        width: 100%;
        box-sizing: border-box;
    }

    .sideBySideFlex{
        flex-direction: column;
    }

    .rightContainer {
        margin-left: 0;
        flex-direction: column;
        padding: 0 25px 0 25px;
        width: 100% !important;
        min-width: 100%;
        align-items: center;
    }

    .rightContainerOptions{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 10px;
    }

    #user_field {
        display: inline-block;
        font-size: 20px;
    }

    .sideBarButtonsDiv {
        margin-left: 20px;
        height: 100%;
        display: inline-block;
        min-width: 50%;
    }

    .floatingMicCont{
        position: relative;
        bottom: 10px;
        width:50%;
        box-sizing: border-box;
        flex-grow: 1;
        align-items: flex-end;
    }

}

.rightSpan {
    float: right;
    align-self: flex-end;
    margin-right: 20px;
}
.rightSpan span{
    margin-left: 10px;
}

.whiteText {
    color: rgba(255, 255, 255, 0.9);
}

.darkText {
    color: rgb(28, 80, 165);
}

.blackText {
    color: rgb(51, 51, 51);
}

.boldText {
    font-weight: bold;
}

.labelText {
    font-size: 16px;
}

.text20 {
    font-size: 20px;
}
.text18{
    line-height: 18px;
    font-size: 18px;
}
.darkBack {
    background-color: #2664c9;
}

.padding5{
    padding: 5px;
}

.centerFlex {
    display: flex;
    width: 100%;
    justify-content: center;
}
.flexStart{
  display:flex;
  justify-content: flex-start;
}

.flexGrow{
  display: flex;
  flex-grow: 1;
}
.flexGrow.center{
  justify-content: center;
}

.whiteContainer {
  box-sizing: border-box;
  max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(28, 80, 165, 0.1);
    margin: 0 auto 20px auto;
}

input.hiddenSubmit {
    width: 0;
    padding: 0;
    border: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.rowsButton {
    font-size: 19px;
    font-weight: bold;
    margin: 8px 6px;
    display: inline-block;
}

.bubbleButton {
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
}

.miniBubbleButton {
    display: inline-block;
    border-radius: 6px;
    line-height: 15px;
    padding: 2px 5px;
}
.miniBubbleButton:hover {
    cursor: pointer!important;
}

.toggleButton {
    border-radius: 8px;
    font-weight: bold;;
    line-height: 30px;
    font-size: 18px;
    padding: 0 20px;
    margin: 15px 5px;
}
.toggleButton:hover{
    cursor: pointer;
}

.bubbleButtonDark {
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
}

.bubbleButtonDark:hover {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

.bubbleButtonDark.selected {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

.bubbleButtonWhite {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

.bubbleButtonWhite:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
}

.bubbleButtonWhite.selected {
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
}

.bubbleButtonTransp {
    color: rgb(28, 80, 165);
}

.bubbleButtonTransp:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
}

.bubbleButtonTransp.selected {
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
}

.bubbleButton:hover {
    cursor: pointer!important;
}


.bubbleButtonRedHover:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #c92641 !important;
}

.bubbleButtonGreenHover:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background-color: #00a821;
}

.circleRed{
    background-color: #c92641;
    width: 15px;
    height: 15px;
    border-radius: 50%
}

.circleGreen{
    display: inline-block;
    background-color: #00a821;
    width: 11px;
    height: 11px;
    border-radius: 50%
}

a {
    text-decoration: none !important;
}

h3 {
    padding-left: 5px;
    font-size: 20px;
}

.navigbar {
    padding: 0 12px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #2664c9;
    max-width: 100%;
    margin-top: 0px;
    /* min-width: 640px; */
}

.hiddenNavigbar{
    margin-top: -40px;
    transition: 1s;
}

.flexnavig {
    display: flex;
    justify-content: center;
}

.navigbarItem {
    color: rgba(255, 255, 255, 0.9);
    font-size: 19px;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px 6px;
    line-height: 24px;
    display: inline-block;
    padding: 0 10px;
}

.navigbarItem:hover {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.navigbarItem.selected {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

.navigbarItemRight {
    float: right;
}

@media screen and (max-width: 450px) {
    #usernameNavigbar {
        display: none;
    }
}

#microphoneToggle {
    position: absolute;
    right: 0;
}


#backNavigButton {
    position: absolute;
    left: 0;
}

.floatingShadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}



.imageRow {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: scroll; */
    scroll-behavior: smooth;

    overflow-y: hidden;
    width: 100%;
    height: 150px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.1);
}

.imageRow img {
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 260px;
    max-height: 100%;
    object-fit: contain;
    width: auto;
    border-radius: 0;
}




@media screen and (max-width: 700px) {
    .imageRow{
        height: 22vh;
    }
    .imageRow img{
        max-height: 21vh;
    }
    h3{
        font-size: 3vh;
        line-height: 3vh;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    .tabsBlock{
        margin-top: 1vh;
    }
    .bubbleButton{
        line-height: 4vh;
    }
    .rowsButton{
        font-size: 3vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}
.tabPanel{
    display: inline-block;
}

.assetView{
    width: 100%;
    object-fit: contain;
}

.verticalFormsContainer {
    display: flex;
    flex-direction: column;
}

.inputSection {
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

input.growText {
    box-sizing: border-box;
    width: 65%;
}

input.growText.growText100{
  width:100%;
}

.labelDiv {
  display: inline-block;
  font-size: 18px;
  margin-right: 5px;
}

input[type="text"] {
    font-size: 17px;
}

input.bubbleButton {
    border: none;
    cursor: text !important;
}

input:focus {
    outline: none !important;
}

button {
    font-size: 19px;
    border: none;
}

button:focus {
    outline: none !important;
}

input {
    cursor: pointer;
}

input:active {
    outline: none;
}

ul.no-bulletpoint{
    list-style-type: none;
    padding: 0;
}
input[type="radio"]{
    position: fixed;
    visibility:hidden;
}
li.toggleButton label{
    margin: 0;
}
li.toggleButton label:hover{
    cursor: pointer;
}

div.fileInputDiv {
    position: relative;
}

div.fileInputVisible {
    font-size: 16px;
    position: relative;
    display: inline-block;
    /* z-index: 2; */
}

div.fileInputVisible:hover {
    cursor: pointer !important;
}

input.fileInputHidden {
    height: 30px;
    position: absolute;
    opacity: 0;
}

input.fileInputHidden:hover {
    cursor: default !important;
}

.fileNameLabelVisible {
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.formFooter {
    display: flex;
    width: 100%;
    justify-content: center;
}

input[type=checkbox]{
    -webkit-appearance:none;
    min-width: 18px;
    height: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    background: white;
    margin: 0 6px;
}

input[type=checkbox]:checked{
    background: #2664c9;

}

.thumbnailSpace{
    margin: 20px 0 5px 0;
}
.thumbnailSpace:hover{
    cursor: pointer;
}

/* ===================== */
#profileImgBtn{
  align-self: center;
}
#profileImgBtn:hover{
  cursor: pointer;
}

.userForm{
  display: flex;
  flex-direction: column;
}

#resetColor:hover{
  cursor: pointer;
}

/*================  */
.assetPageTop{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.assetPageLeft{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.assetPageRight{
    margin-left: 10px;
    display: inline-flex;
    flex-direction: column;
}

.assetPageRight.sessionPage{
    margin-left: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.assetTitle{
    font-size: 22px;
    margin-bottom: 7px;
}
input.assetTitle{
    background-color: rgba(1,1,1,0);
    border: none;
}
.assetLabel{
    font-size: 17px;
    margin-bottom: 6px;
}
.spaced10top{
    margin-top: 10px;
}
.spaced20top{
    margin-top: 20px;
}

/* ===================== */
.element-increase {
    z-index: 1;
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

.element-reset {
    transition: all .2s ease-in-out;
    transform: scale(1);
}

#presenterDefault{
  display: flex;
  width:100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presenter-view {
    position: relative;
    display: flex;
    align-content: center;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.asset-preview{
  padding-top: 10px;
  height: auto!important;
  min-height: 500px;
}

.presenter-view img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.presenter-view #link_display{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

div.presenter-view embed{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.presenter-view object{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

/* .presenter-view #display {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    background: none;
} */

.hidden {
    display: none;
}

.controls button {
    padding: 4px 20px;
    border-radius: 15px;
    height: 45px;
    width: 220px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.register h1 {
    font-weight: bold;
}

.register .inputs {
    margin-top: 15px;
}

.register .inputs .footer {
    display: flex;
    justify-content: center;
}

.register .inputs .footer button {
    height: 40px;
    border-radius: 20px;
    min-width: 130px;
    padding: 0 10px!important;
    background: #0044ff;
    font-size: 18px;
    border: none;
    color: white;
    margin: 0 0 15px 0;
}

.register .inputs .footer button:hover,
.register .inputs .footer button:active {
    background: #002a9e;
}

.register .inputs .section {
    width: 260px;
    margin-bottom: 15px;
}

.register .inputs .section p {
    margin-bottom: 0;
}

.error {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(255, 0, 0) !important;
  font-weight: bold;
}

.register .inputs .section input {
    width: 100%;
    color: white;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;

}

.register .inputs .section input::placeholder {
    color: black;
}

/* ============= */

.flexCont{
    display: flex;
    justify-content: space-between;
}
.flexContVertical{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#sortingDiv {
    margin-left: 10px;
    display: inline-flex;
    justify-content: flex-start;
    font-weight: normal;
}


#sortingDiv:hover {
    cursor: pointer;
}

#sortBtnContainer {
    margin-left: 20px;
    display: flex !important;
    flex-direction: column;
}

#sortBtnContainer div:hover {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    #sortingDiv{
        flex-direction: column;

    }
    #sortingDiv div:nth-child(1){
        flex-direction: column;
        padding-left: 10px;
    }
    #sortBtnContainer{
        margin-left: 0;
    }
}


.tagsContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filterTagButton {
    border-radius: 8px;
    line-height: 30px;
    font-size: 18px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
    margin: 2px 5px;
}

.removeToggle {
    margin-left: 5px;
    line-height: 30px;
}

.removeToggle:hover {
    cursor: pointer;
}

/* .rowsButton{
    font-size: 19px;
    font-weight: bold;
    margin: 8px 6px;
    display: inline-block;
}

.bubbleButton{
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
}
 */

/* .bubbleButton:hover {
    cursor: pointer;
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
} */

.assetpool-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.assetpool-asset {
    margin: 5px;
    padding: 5px !important;
    text-align: center;
    border-radius: 9px;
    min-height: 170px;
    display: flex;
    align-items: center;
}

.assetThumbnail {
    max-width: 170px;
    max-height: 130px;;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

#assetPool .assetpool-asset:hover {
    background-color: rgba(255, 255, 255, 1);
}

.assetpool-asset.selected {
    background-color: rgba(255, 255, 255, 1);
}

.assetpool-asset img {
    object-fit: cover;
    padding: 0;
}

/* _________ */

.mfp-figure:after {
    visibility: hidden;
}

.arrowBtn {
    position: absolute;
    z-index: 1000;
    color: rgb(0, 0, 0);
    color: white;
    opacity: .75;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.arrowBtn:hover,
.arrowBtn:active,
.arrowBtn:focus {
    opacity: 1;
}

.nextArrowBtn {
    right: 5px;
}

.prevArrowBtn {
    left: 5px;
}

.imageRow {
    /* set 'overflow-x: scroll' to always show scrollbar */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.imageRow img {
    display: inline-block;
}

.imageRow-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.imageRow-flexbox img {
    flex: 0 0 auto;
    margin-right: 3px;
}

.imageRow,
.imageRow-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
/*
.imageRow::-webkit-scrollbar,
.imageRow-flexbox::-webkit-scrollbar {
    display: none;
}
*/

.imageRow::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.imageRow::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.imageRow::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2664c9;
}

.smallBox{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  max-height: 200px;
  height: auto;
  border-radius: 10px;;
}

.buttonMiddle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#tagSpeechOutput{
  width: 255px;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
}

.sessions-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.session-page h2 {
    text-align: center;
}

.session-page {
    font-family: 'Nunito', sans-serif;
}

.session-page input {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.session-page .session-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sessions-item {
    margin: 5px;
    padding: 5px !important;
    text-align: center;
    border-radius: 9px;
    height: 100px;
    width: 140px;
    display: flex;
    align-items: center;
}

.sessions {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.session {
    margin: 5px;
    padding: 5px !important;
    flex-direction: column;
    text-align: center;
    border-radius: 9px;
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}

.session p {
    margin: 5px;
}

.sessions .session:hover {
    background-color: rgba(255, 255, 255, 1);
}

.session-page-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


button {
    font-family: 'Nunito', sans-serif;
    background: white;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/* style for modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  /* transform: translateY(-11%); */
}
/* The Modal Example for design document */
.modalExample {

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  /* transform: translateY(-11%); */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  background-color: rgb(255, 255, 255, 0.9);
  color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modalHelp {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  /* transform: translateY(-11%); */
}
/* The Modal Example for design document */
.modalExampleHelp {

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  /* transform: translateY(-11%); */
}

/* Modal Content/Box */
.modal-contentHelp {
  /* background-color: #fefefe; */
  background-color: rgb(255, 255, 255, 0.9);
  color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


.closeHelp {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeHelp:hover,
.closeHelp:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#authentication{
  margin-top: 10px;
}

.manualImg{
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 290px;
}

.helpIcon{
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
