html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    /* background: radial-gradient(ellipse at center, #ff8011 15%,#ff5d00 76%); */
    /* background-color: rgb(38, 100, 201); */
    /* background: #2664c9; */
    /* Old browsers */
    background: -moz-linear-gradient(-55deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-55deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(145deg, #2664c9 0%, #7db9e8 100%, #4b89ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2664c9', endColorstr='#4b89ed', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.container {
    background: none;
}

body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background: none;
}

.normalFont {
    font-weight: normal;
}

.midScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    /* transform: translate(-50%, -100%); */
    margin: 0 auto;
    text-align: center;
}

.bubbleButtonDark.modeButton {
    display: inline-block;
    margin: 5px 12px;
    font-weight: bold;
    padding: 20px;
    font-size: 22px;
}

.topSpace {
    width: 100%;
    height: 100px;
}

.mainContainer {
    position: relative;
    width: 65%;
    min-height: 360px;
    /* min-width: 670px; */
    margin: 0 auto;
}

@media screen and (min-width: 701px) and (max-width: 970px) {
    .mainContainer {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 700px) {
    .mainContainer {
        width: 100%;
    }

    .topSpace {
        height: 50px;
    }
}

.pageContainer {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 68%;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 12px;
    margin-bottom: 20px;
}

.rightContainer {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width: 30%;
}

.avatarImg {
    border-radius: 50%;
}

.rightContItem {
    width: auto;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    margin: 8px auto;
    text-align: center;
}

#user_field {
    font-size: 27px;
}

#user_field:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .mainContainer {
        padding-left: 5px;
        padding-right: 5px;
    }

    .pageContainer {
        width: 100%;
    }

    .rightContainer {
        padding: 0 25px 0 25px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    #user_field {
        display: inline-block;
        font-size: 20px;
    }

    .sideBarButtonsDiv {
        margin-left: 20px;
        height: 100%;
        display: inline-block;
        min-width: 50%;
    }
}


.whiteText {
    color: rgba(255, 255, 255, 0.9);
}

.darkText {
    color: rgb(28, 80, 165);
}

.blackText {
    color: rgb(51, 51, 51);
}

.boldText {
    font-weight: bold;
}

.labelText {
    font-size: 16px;
}

.text20 {
    font-size: 20px;
}

.darkBack {
    background-color: #2664c9;
}

.centerFlex {
    display: flex;
    width: 100%;
    justify-content: center;
}

.whiteContainer {
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(28, 80, 165, 0.1);
    ;
    margin: 0 auto 20px auto;
}

input.hiddenSubmit {
    width: 0;
    padding: 0;
    border: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.rowsButton {
    font-size: 19px;
    font-weight: bold;
    margin: 8px 6px;
    display: inline-block;
}

.bubbleButton {
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
}

.bubbleButtonDark {
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
}

.bubbleButton:hover {
    cursor: pointer;
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

.bubbleButtonRedHover:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background-color: #c92641;
}

.bubbleButtonDark.selected {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}



a {
    text-decoration: none !important;
}

h3 {
    font-size: 20px;
}

.navigbar {
    padding: 0 12px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #2664c9;
    /* min-width: 640px; */
}

.flexnavig {
    display: flex;
    justify-content: center;
}

.navigbarItem {
    color: rgba(255, 255, 255, 0.9);
    font-size: 19px;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px 6px;
    line-height: 24px;
    display: inline-block;
    padding: 0 10px;
}

.navigbarItem:hover {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.navigbarItem.selected {
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
}

.navigbarItemRight {
    float: right;
}

#microphoneToggle {
    position: absolute;
    right: 0;
}

#backNavigButton {
    position: absolute;
    left: 0;
}

.floatingShadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}



.imageRow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 160px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.1);
}

.imageRow img {
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 200px;
    max-height: 150px;
}

.tabPanel {
    margin-top: 10px;
    display: inline-block;
}

.assetFormsContainer {
    display: flex;
    flex-direction: column;
}

.inputSection {
    display: flex;
    align-items: center;
}

input.growText {
    flex-grow: 1;
}

.labelDiv {
    display: inline-block;
    min-width: 100px;
    font-size: 16px;
}

input[type="text"] {
    /* background-color: rgba(38, 100, 201, 1); */
}

input.bubbleButton {
    border: none;
    cursor: text !important;
}

input:focus {
    outline: none !important;
}

button {
    font-size: 19px;
    border: none;
}

button:focus {
    outline: none !important;
}

input {
    cursor: pointer;
}

input:active {
    outline: none;
}

div.fileInputDiv {
    position: relative;
}

div.fileInputVisible {
    font-size: 16px;
    position: relative;
    display: inline-block;
    z-index: 2;
}

div.fileInputVisible:hover{
    cursor: pointer !important;
}

input.fileInputHidden {
    height: 30px;
    position: absolute;
    opacity: 0;
}

input.fileInputHidden:hover{
    cursor: pointer !important;
}

.fileNameLabelVisible{
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.formFooter {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* ===================== */
.element-increase {
    z-index: 1;
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

.element-reset {
    transition: all .2s ease-in-out;
    transform: scale(1);
}

.presenter-view {
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

.presenter-view #display {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    background: none;
}

.hidden {
    display: none;
}

.controls button {
    padding: 4px 20px;
    border-radius: 15px;
    height: 45px;
    width: 220px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.register h1 {
    font-weight: bold;
}

.register .inputs {
    margin-top: 15px;
}

.register .inputs .footer {
    display: flex;
    justify-content: center;
}

.register .inputs .footer button {
    height: 40px;
    border-radius: 20px;
    width: 150px;
    background: #0044ff;
    font-size: 18px;
    border: none;
    color: white;
    margin: 0 0 15px 0;
}

.register .inputs .footer button:hover,
.register .inputs .footer button:active {
    background: #002a9e;
}

.register .inputs .section {
    width: 260px;
    margin-bottom: 15px;
}

.register .inputs .section p {
    margin-bottom: 0;
}

p.error {
    color: rgb(255, 0, 0) !important;
    font-weight: bold;
}

.register .inputs .section input {
    width: 100%;
    color: white;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;

}

.register .inputs .section input::placeholder {
    color: black;
}

/* ============= */


#sortingDiv {
    margin-left: 10px;
    display: inline-flex;
    justify-content: flex-start;
    font-weight: normal;
}

#sortBtnContainer {
    margin-left: 20px;
    display: flex !important;
    flex-direction: column;
}

#sortBtnContainer div:hover {
    font-weight: bold;
    cursor: pointer;
}

#filterTagsContainter {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filterTagButton {
    border-radius: 8px;
    line-height: 30px;
    font-size: 18px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.9);
    background-color: #2664c9;
    margin: 2px 5px;
}

.removeToggle {
    margin-left: 5px;
    line-height: 30px;
}

.removeToggle:hover {
    cursor: pointer;
}

/* .rowsButton{
    font-size: 19px;
    font-weight: bold;
    margin: 8px 6px;
    display: inline-block;
}

.bubbleButton{
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
}
 */

/* .bubbleButton:hover {
    cursor: pointer;
    color: rgb(28, 80, 165);
    background-color: rgba(255, 255, 255, 0.9);
} */

.assetpool-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.assetpool-asset {
    height: auto;
    padding: 5px !important;
    text-align: center;
    border-radius: 9px;

}

.assetpool-asset .assetThumbnail {
    width: 150px;
    height: 90px;
    margin: 5px;
    border: 1px rgb(0, 0, 0, 0.1) solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.assetpool-asset:hover {
    background-color: rgba(255, 255, 255, 1);
}


.assetpool-asset img {
    object-fit: cover;
    padding: 0;
}

.mfp-figure:after {
    visibility: hidden;
}